# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

#Ignore file containing sensitive information
config/env/common.js
config/env/development.js
config/env/production.js
