footer {
    width: 100%;
    border-top: 1px solid #E0E0E0;
    margin-top: 20px;

    .footer-header {
        flex-direction: row;
        background-color: #F5F5F5;

        & > div {
          display: flex;
          justify-content: flex-end;
        }

        .search-section {
          height: 48px;
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }

        .links-section {
          display: flex;
          height: 48px;
        }

        .v-input {
          width: 100%;
          min-width: 100px;
          max-width: 370px;
          align-items: center;
          padding-right: 5px;

          .v-input__control {
            min-height: 40px;
          }

        }

        a {
            margin: 0px 0px 0px 2px;
        }

        img {
            height: 48px;
        }

        #footer-donate-button {
          color: #FFF;
          background-color: #27AE60;
          height: 100%;
          width: calc(100vw - 200px);
          max-width: 200px;
          font-size: 17px;

          .v-btn__content {
            max-width: 200px;
          }
        }

    }

    
    ul li a:link, a:visited {
      text-decoration: none;
      color: white;
    }

    ul {
        list-style-position: inside; 
        padding-left: 0;
    }
    
    ul li {
        list-style: none;
    }

    h3 {
        font-size: 16px;
    }

    .logo-wrapper {
        display: inline-block;
    }

  .newsletter-form {
    display: flex;
  }

  .newsletter-input {
    background-color: #FFF;
    border-radius: 2px;
    max-width: 300px;
    width:100%;
    padding-top: 0px;
    padding-left: 5px;

    input {
      caret-color: #000;
    }

    .v-input__slot::before {
      border: none;
    }

    &.error--text {
      border: 2px solid #F00;

      .v-input__control {
        min-height: 44px !important;
      }
    }
  }

  #signup-to-newsletter {
    background-color: #AE2760;
    color: #FFF;
    margin-top: 0px;
    height: 100%;
  }

  .useful-links-container {
    text-decoration: none;
  }

}

@media screen and (max-width: 960px) {

  footer .newsletter-container {
    align-items: center;
  }

  .useful-links-container {
    display: none;
  }

}

@media screen and (max-width: 600px) {
  footer .footer-header {
    flex-direction: column;
  }

  footer .footer-header .v-input {
    padding: 0px 1px;
    max-width: 100%;
  }

}
