header {
	margin-bottom: 20px;
	background-color: $white;
	width: 100%;
	z-index: 100;

	nav {
		height: 100%;
		display: inline-block;

		.logo-wrapper {
			display: inline-block;

			img {
				height: 70px;
			}
		}

	}

	.visitor-menu-items {
		display: flex;
		justify-content: space-between;
	}

	.user-menu-items {
		display: flex;
		justify-content: flex-end;

		&>* {
			margin-left: 70px
		}

	}

	.menu-hamburger {
		display: none;
	}

	.input-group {
		width: 300px;
	    left: 0px;
	    right: 0px;
	    margin: auto;


		.input-group__input {
			border: 1px solid rgba(0, 0, 0, 0.5);
			border-radius: 10px;
			color: $gray;

			i {
				color: $black !important;
			}

			input {
    			color: $black;
			}
		}

		.input-group__details {
			display: none;
		}
	}

	.logo-wrapper {
		display: inline-block;
	}

	.header-site-logo {
		height: 50px;
	}

	#header-donate-button {
		color: #FFF;
		background-color: #27AE60;
		text-transform: capitalize;
		margin-left: 20px;
	}

}

.menu-link {
	text-decoration: none;
	color: $black;

	&.nuxt-link-active {
		color: $primary;
	}
}

@media screen and (max-width: 1200px) {
	header {
		.visitor-menu-items, .user-menu-items {
		   display: none;
	   	}
   
	   	.menu-hamburger {
		   display: initial;
	   	}
	}
}

@media screen and (max-width: 960px) {

	#header-donate-button {
		margin-left: 0px;
	}

}
