html {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-family: Titillium Web;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: $background;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Titillium Web', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.3;
  font-weight: 600;
}

.application {
  font-family: Titillium Web !important;
  line-height: initial !important;
}

.theme--light.application {
  background-color: $background !important;
}

.primary {
  background-color: $primary !important;
  border-color: $primary !important;
}

.secondary-color {
  background-color: $secondary !important;
  border-color: $secondary !important;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 100;
  background-color: $black;
  opacity: 0.8;
}

.page-title {
  font-size: 24px;
  color: #AE2760;
  text-decoration: underline;
}

.video-iframe {
  width: 100%;
  max-width: 420px;
}

.full-name-field,
.name-separator,
.age-field {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

.profile-information-row, .project-information-section {
  padding: 2px 0px;
  font-size: 17px;

  &.name-information-row {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  button {
    border-radius: 3px;
    font-weight: 400;
    font-size: 15px;
    text-transform: none;
    width: 176px;
    height: 25px;
  }
}

.age-field {
  font-weight: 400;
}

.website-field {
  text-decoration: none;
}

.social-media-icon-wrapper {
  margin-right: 10px;
}

.social-media-icon {
  width: 30px;
}

.profile-section-separator {
  border: 2px solid rgba(151, 151, 151, 0.6);
  width: 70%;
  margin: 0px auto;
}

.photo-gallery-section {
  min-height: 280px;

  &.empty {
    min-height: initial;
  }

  .photo-gallery-row {
    position: absolute;
    width: 100%;
    left: 0px;
    margin-top: 74px;
    padding: 0px !important;
  }
}

.carousel-arrow {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 70px;

  &.left-arrow {
    left: 20px;
  }

  &.right-arrow {
    right: 20px;
  }
}

.carousel-items-wrapper {
  height: 200px;
  max-width: calc(100% - 150px);
  overflow: hidden;
  position: initial;
  display: flex;
  margin-left: 75px;
  justify-content: center;
}

#carousel-items {
  height: 220px;
  overflow: hidden;
  padding: 0px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  margin: 0px auto;
  width: fit-content !important;

  li {
    list-style: none;
    height: 200px;
    width: auto !important;
    display: flex;
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px;

    &:first-of-type,
    &:last-of-type {
      padding-left: 0px;
    }

    img {
      height: 200px;
      cursor: pointer;
    }
  }
}

.v-btn--flat {
  background-color: transparent;
  color: black;
}

.v-messages__message {
  line-height: 1.5 !important;
}

.error--text {
  color: $red !important;
}

.input-group {
  input,
  textarea {
    border-bottom: 2px solid $primary;
  }

  &.input-group--error {
    input {
      border-bottom: 2px solid $error;
    }
  }

  .input-group__details {
    color: $error;

    &:before,
    &:after {
      background-color: transparent !important;
    }
  }
}

.error-message {
  color: $red;
}

.hidden {
  display: none;
}

button {
  background-color: $primary;
  color: $white;
}

input[type="search"],
input[type="search"]::placeholder,
input[type="search"]::-webkit-input-placeholder {
  font-weight: 500;
  font-family: Titillium Web;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000 !important;
}

.v-date-picker-header button {
  background-color: #FFF;
  color: initial;
}

.link-button {
  text-decoration: none;
  color: $primary;
}

.action-button {
  color: $black;
}

#profile-description-field {
  max-height: 100px;
}

.field-title {
  margin-bottom: 20px;
  display: block;
  font-weight: 500;
}

.v-menu__content {

  .v-date-picker-table {
    button {
      background-color: transparent;
    }

    .v-btn.v-btn--active {
      background-color: $primary;
    }
  }
}

.create-profile-section .date-menu-container .v-menu__content {
  left: -90px !important;
}

.create-profile-section .v-menu__content {
  left: 0px !important;
}

.v-textarea .v-input__slot {
  background: transparent !important;
  padding-left: 0px !important;
}

.v-autocomplete .v-menu {
  position: absolute !important;
}

.v-autocomplete__content .v-input__slot {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background: none !important;
}

.vue-dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

main {
  min-height: calc(100vh - 389px);
}

.main-container {
  padding-top: 70px;
  max-width: 960px;

  &.extra-large {
    max-width: 1600px;
  }

  &.large {
    max-width: 1200px;
  }

  &.small {
    max-width: 700px;
  }

}

.v-messages {
  height: 18px;
}

.v-tooltip--bottom .v-tooltip__content {
  top: 32px !important;
  left: 0px !important;
}

.skills-row {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  border-radius: 0px;
  border: none;
  min-width: 80px;
  height: 26px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  font-size: 14px;

  .v-icon {
    opacity: 1;
  }
}

#skills-autocomplete-wrapper {
  .v-select__selections .v-chip {
    display: none;
  }

  .v-text-field .v-label--active {
    transform: none;
    -webkit-transform: none;
  }

  .v-input--is-focused .v-label--active {
    -webkit-transform: translateY(-18px) scale(0.75);
    transform: translateY(-18px) scale(0.75);
  }
}

.profile-focused-row, .project-focused-row {
  display: flex;

  .remove-icon {
    cursor: pointer;
    font-size: 31px;
  }
}

.editing-profile-row {
  display: none;
}

.profile-information-group-header {
  display: flex;
  justify-content: space-between;

  h2 {
    font-weight: 600;
    font-size: 20px;
  }
}

.profile-information-group {
  font-size: 15px;
}

.profile-row-actions, .project-row-actions {
  display: flex;
  justify-content: flex-end;
}

.highlighted-section {
  z-index: 200;
  background-color: $white;
  border-radius: 10px;
  width: 100%;
}

.button-wrapper-link {
  text-decoration: none;
}

.v-input--selection-controls[name='agree-to-terms'] {
  margin-top: 0px;
  padding-top: 0px;
}

.profile-row-actions, .project-row-actions {
  .v-btn {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.v-timeline::before {
  background-color: $primary !important;
  width: 4px;
  left: 17px;
}

.v-timeline-item {
  .v-card__title,
  .v-card__text {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.add-education-timeline-item {
  padding-bottom: 0px;
}

.timeline-header {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #000;
}

.timeline-header-item {
  .v-card__title,
  .v-card__text {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.timeline-achievement-item {
  .timeline-item-action-row {
    min-height: 40px;
  }
}

.achievement-item {
  padding: 8px;
  padding-right: 3px;

  .item-action-row {
    min-height: 40px;
  }
}

.v-timeline-item .v-card:after,
.v-timeline-item .v-card:before {
  display: none;
}

.v-timeline--dense .v-timeline-item__body {
  max-width: calc(100% - 34px);
}

.v-timeline {
  padding-top: 0px;
}

.profile-entity-layout, .project-entity-layout {
  .timeline-message {
    .timeline-message-card::after,
    .timeline-message-card::before {
      display: none;
    }
  }

  .add-entity-timeline-item {
    cursor: pointer;

    .timeline-message-card {
      border: 2px solid #ae2760;
    }

    .v-card__title {
      justify-content: center;
      color: #ae2760;
      font-size: 24px;
      padding-top: 5px;
      padding-bottom: 5px;

      i {
        color: #ae2760;
        font-size: 30px;
      }
    }
  }
}

.add-entity-btn {
  color: #ae2760 !important;
  border: 2px solid #ae2760 !important;
  width: calc(100% - 10px);
  height: 44px;
  font-size: 24px;
  text-transform: inherit;

  &::before {
    background-color: #fff !important;
  }

  i {
    color: #ae2760;
    font-size: 30px;
  }
}

.search-field .v-icon {
  cursor: pointer;
  color: #000;
}

.no-results-message {
  font-size: 28px;
}

.dashboard-container .field-label {
  font-weight: 700;
  margin-right: 10px;
  display: none;
}

@media screen and (max-width: 1200px) {

  .dashboard-container {

      table {
          display: flex;
          flex-direction: column;
      }

      thead {
          display: none;
      }

      .dashboard-row {
          flex-direction: column;
          display: flex;
          padding-top: 24px;
          padding-bottom: 24px;
      }

      .field-label {
          display: initial;
      }
  }
}

@media screen and (min-width: 960px) {

  .facebook-link-container {
    padding-right: 10px;
  }

  .google-link-container {
    padding-left: 10px;
  }

}

@media screen and (max-width: 600px) {

  .project-item-content {
      flex-direction: column-reverse;
      align-content: flex-start;

      &>div {
          width: 100%;
      }
  }

}

@media screen and (max-width: 400px) {
  .add-achievement-btn {
    height: 100%;
    max-height: 88px;

    .v-btn__content {
      white-space: normal;
    }
  }

  .general-information-section {
    flex-flow: column-reverse !important;
  }

  .profile-row-actions-container, .need-row-actions-container {
    flex-flow: column-reverse !important;
    align-self: flex-end;
  }

  .profile-row-actions, .project-row-actions {
    margin-bottom: 20px;
  }

  .dz-image img {
    max-width: 100px;
    max-height: 100px;
  }
}
