.primary {
    background-color: $primary !important;
    border-color: $primary !important;
}

.v-btn--flat {
    background-color: transparent;
    color: black;
}

.error--text {
    color: $red !important;
}

.input-group {
    
    input, textarea {
        border-bottom: 2px solid $primary;
    }

    &.input-group--error {

        input {
            border-bottom: 2px solid $error;
        }
    }

    .input-group__details {
        color: $error;

        &:before, &:after {
            background-color: transparent !important;
        } 
    }
}

button {
    background-color: $primary;
    color: $white;
}

.link-button {
    text-decoration: none;
    color: $primary;
}


.action-button {
    color: $black;
}

#profile-description-field {
    max-height: 100px;
}

.field-title {
    margin-bottom: 20px;
    display: block;
}

.v-menu__content {
    top: 0px !important;
    left: 0px !important;

    .v-date-picker-table {
        
        button {
            background-color: transparent;
        }

        .v-btn.v-btn--active {
            background-color: $primary;
        }
    }
}

.v-textarea .v-input__slot {
    background: transparent !important;
}

.v-autocomplete .v-menu {
    position: absolute !important;
}

.v-autocomplete__content {
    top: 70px !important;
    left: -12px !important;
}

.v-autocomplete__content .v-input__slot {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background: none !important;
}

.vue-dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.v-stepper, .v-stepper__items, .v-stepper__wrapper {
    overflow: visible !important;
}
