$white: #FFF;
$black: #000;
$gray:  #BDBDBD;
$red: #F00;
$disabled: rgba(0,0,0,0.12);

$background: #FFF;
$primary: #AE2760;
$secondary: rgba(174, 39, 96, 0.46);
$error: $red;

$button-background-color: #212121;
